name: Tag
on: 
  create:
    tags:
      - v*
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: checkout source code
      uses: actions/checkout@v1
    - name: Get Branch
      run: |
        raw=$(git branch -r --contains ${{ github.ref }})
        echo '::set-env name=BRANCH::${raw/origin\/}'
    - run: echo ${{ env.BRANCH }}